* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  position: relative;
}
.top-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fbfc;
}

header {
  font-family: "Pacifico", cursive;
  margin: 10px 0;
  width: 100%;
  max-width: 1000px;
}
header > h4 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
  width: 100%;
  max-width: 1000px;
  padding: 0 55px;
}
@media only screen and (max-width: 600px) {
  header > h4 {
    text-align: center;
  }
  .banner-image {
    display: none;
  }
}

.banner {
  max-width: 1000px;
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.banner-content {
  flex: 3;
  padding: 10px;
}
.beta-notice {
  background-color: #5ecd76;
  color: #cfffd9;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 0.8rem;
}
.banner-heading {
  margin-top: 15px;
  line-height: 1;
}
.banner-p {
  color: #8a8a8a;
  font-size: 0.9rem;
}
.signup {
  background-color: #2a8ff7;
  outline: none;
  border: none;
  padding: 8px 50px;
  color: #fff;
  font-family: "Roboto Mono";
  border-radius: 5px;
  font-size: 0.7rem;
}

.banner-image {
  flex: 4;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content-title {
  margin-bottom: 0;
}

.content-content {
  color: #8a8a8a;
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

.content-cards {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
}
.content-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 250px;
}

.card-header {
  display: flex;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .content-cards {
    flex-direction: column;
    text-align: center;
  }
  .card-header {
    justify-content: center;
    align-items: center;
  }
}
.card-header svg {
  margin-right: 10px;
  fill: #6c98cb;
}
.card-header-title {
  font-weight: bold;
}
.card-content {
  color: #8a8a8a;
  font-size: 0.9rem;
}

.non-footer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px; /* height of your footer */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Height of the footer */

  border-top: 1px solid #f4f4f4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  color: #8a8a8a;
  z-index: 1;
}
.copyright {
  font-size: 0.8rem;
}
footer a {
  color: #8a8a8a;
  text-decoration: none;
  font-size: 0.7rem;
  text-transform: uppercase;
}
