* {
  box-sizing: border-box;
}
:root {
  --body-font: "Space Mono", monospace;
  --logo-font: "Pacifico", cursive;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  height: 100%;
  position: relative;
}
.top-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fbfc;
}

header {
  font-family: var(--logo-font);
  margin: 10px 0;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > h4 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}
.links a {
  color: #748d95;
  text-decoration: none;
  margin: 5px 10px;
  text-transform: uppercase;
  font-family: var(--body-font);
  font-weight: 400;
}
.links a:hover {
  color: #222;
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  .banner-image {
    display: none;
  }
}

.banner {
  max-width: 1000px;
  display: flex;
  padding: 50px 0;
  justify-content: space-around;
  align-items: center;
}

.banner-content {
  width: 40%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
@media only screen and (max-width: 700px) {
  .banner-content {
    width: 100%;
  }
}
.beta-notice {
  background-color: #5ecd76;
  color: #cfffd9;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 0.8rem;
}
.banner-heading {
  margin-top: 15px;
  line-height: 1.2;
  font-size: 1.6em;
  font-weight: 300;
}
.banner-p {
  color: #8a8a8a;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 23px;
}
.signup {
  background-color: #3797fb;
  outline: none;
  border: none;
  padding: 10px 50px;
  color: #fff;
  font-family: var(--body-font);
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}
.signup:hover {
  background-color: hsl(212, 94%, 50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
}

.banner-image img {
  height: 550px;
}
@media only screen and (max-width: 800px) {
  .banner-image img {
    height: 400px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content-title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.3rem;
}

.content-content {
  color: #8a8a8a;
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
  line-height: 1.6;
}

.content-cards {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
}
.content-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 320px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 0px 2px rgba(0, 0, 0, 0.14);
  padding: 30px 30px;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .content-card {
    margin: 20px 3px;
  }
  .content-cards {
    margin: 20px;
  }
}

.card-header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .content-cards {
    flex-direction: column;
    text-align: center;
  }
  .card-header {
    justify-content: center;
    align-items: center;
  }
}
.card-header svg {
  margin-right: 13px;
  fill: #fff;
  background-color: #93bce6;
  padding: 5px;
  border-radius: 50%;
}
.card-header-title {
  font-weight: bold;
}
.card-content {
  color: #8a8a8a;
  font-size: 0.9rem;
  line-height: 1.6;
}

.non-footer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0px; /* height of your footer */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Height of the footer */

  border-top: 1px solid #f4f4f4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  color: #8a8a8a;
  z-index: 1;
}
.copyright {
  font-size: 0.8rem;
}
footer a {
  color: #8a8a8a;
  text-decoration: none;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: var(--body-font);
}
